[user]
	name = Alkagar
	email = alkagar@gmail.com
[color]
        ui = auto
[merge]
	tool = vimdiff3
[github]
	user = alkagar
[core]
	editor = vim
	excludesfile = /home/alkagar/.gitignore_global
[mergetool "vimdiff3"]
	cmd = vim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
